.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.044);
    width: 450px;
    margin: auto;
    height: 500px;
    text-align: center;
}
.botones{
    margin-top: 3px;
}